## 数据集

import pandas as pd 
import numpy as np
from Module.nn import neuralNetwork                        # 自定义神经网络

In [91]:
train_Org = pd.read_csv('../Data/train_july.csv')
train_Org.head(3)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [92]:
test_Org = pd.read_csv('../Data/test_july.csv')
test_Org.head(3)

,index,0,1,2,3,4,5,6,7,8,...,774,775,776,777,778,779,780,781,782,783
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
# 训练集没有空值
(train_Org.isnull().sum()!=0).sum()

0

In [94]:
# 测试集没有空值
(test_Org.isnull().sum()!=0).sum()

0

In [95]:
int_TrainLowLen = train_Org.shape[0]
int_TestLowLen = test_Org.shape[0]
int_TrainLowLen, int_TestLowLen

(60000, 10000)

In [96]:
l = [1,2,3,4,5,6,7]
print(l[:-1])
print(np.array(l))

[1, 2, 3, 4, 5, 6]
[1 2 3 4 5 6 7]

In [97]:
martix_100 = np.matrix(list(train_Org.iloc[100][:-1])).reshape(28,28)
import matplotlib.pyplot as plt
from PIL import Image
new_im = Image.fromarray(martix_100)
print(new_im)
new_im.show()

<PIL.Image.Image image mode=F size=28x28 at 0x4A831940>

In [98]:
train_Org.iloc[100][-1]

5.0

In [99]:
from collections import Counter
train_Org.iloc[100].describe()

count    785.000000
mean      23.113376
std       67.249335
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      255.000000
Name: 100, dtype: float64

## 整理数据集

### 测试效果

In [100]:
t_tp = train_Org.copy().iloc[:5]
t_tp.head(3)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [101]:
%%time
l_tp =[]
i_tpl = t_tp.shape[0]
for i in range(i_tpl):
    sam = t_tp.iloc[i][:-1]
    label = t_tp.iloc[i][-1]
    
    l = [255 if f>100 else 0 for f in sam ]
    l.append(label)
#     print(l)
    
    l_tp.append(l)
    
#     if i==3:
#         print(l)

d_tp = pd.DataFrame(l_tp)
print(type(d_tp))

<class 'pandas.core.frame.DataFrame'>
Wall time: 70 ms

In [102]:
d_tp.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.0

In [103]:
d_tp.iloc[0].value_counts()

0.0      667
255.0    117
5.0        1
Name: 0, dtype: int64

In [104]:
martix_100 = np.matrix(list(d_tp.iloc[0][:-1])).reshape(28,28)
import matplotlib.pyplot as plt
from PIL import Image
new_im = Image.fromarray(martix_100)
print(new_im)
new_im.show()

<PIL.Image.Image image mode=F size=28x28 at 0x4A854208>

### 整理

In [105]:
train_toPro = train_Org.copy()
train_toPro.head(3)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [114]:
%%time
int_toProLows = train_toPro.shape[0]
lst_processed = []
for i in range(int_toProLows):
    sam = train_toPro.iloc[i][:-1]
    label = train_toPro.iloc[i][-1]
    if i ==0:
        print(len(sam), label)
    
    l = [0.0 if f<100 else f for f in sam  ]
    l.append(label)
    if i ==0:
        print(len(l))
    
    lst_processed.append(l)

df_processed = pd.DataFrame(lst_processed)
# print(df_processed.iloc[0].value_counts())

784 5.0
785
0.0      667
253.0     54
154.0      3
255.0      2
241.0      2
198.0      2
136.0      2
190.0      2
225.0      2
195.0      2
172.0      2
249.0      2
247.0      2
219.0      2
156.0      1
160.0      1
108.0      1
139.0      1
107.0      1
240.0      1
126.0      1
182.0      1
238.0      1
242.0      1
186.0      1
170.0      1
127.0      1
166.0      1
119.0      1
135.0      1
150.0      1
5.0        1
201.0      1
221.0      1
229.0      1
207.0      1
183.0      1
187.0      1
205.0      1
251.0      1
175.0      1
132.0      1
252.0      1
212.0      1
133.0      1
244.0      1
213.0      1
226.0      1
114.0      1
250.0      1
171.0      1
130.0      1
148.0      1
Name: 0, dtype: int64
Wall time: 37.6 s

In [116]:
martix_100 = np.matrix(list(df_processed.iloc[0][:-1])).reshape(28,28)
import matplotlib.pyplot as plt
from PIL import Image
new_im = Image.fromarray(martix_100)
print(new_im)
new_im.show()

<PIL.Image.Image image mode=F size=28x28 at 0x4A854DA0>

In [117]:
test_indexSer = test_Org.iloc[:,0].copy()
test_indexSer.head(3)

0    0
1    1
2    2
Name: index, dtype: int64

In [118]:
test_toPro = test_Org.iloc[:,1:].copy()
test_toPro.head(3)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
%%time
int_testProLows = test_toPro.shape[0]
lst_processed = []
for i in range(int_testProLows):
    sam = test_toPro.iloc[i][:-1]
    label = test_toPro.iloc[i][-1]
    
    l = [0.0 if f<100 else f for f in sam]
    l.append(label)
#     print(l)
    
    lst_processed.append(l)

df_test = pd.DataFrame(lst_processed)

Wall time: 6.16 s

In [121]:
# print(df_test.iloc[4].value_counts())

## 自定义神经网络

### 分割训练集

In [142]:
int_trainSize = 0.7
# df_train_Train = df_processed[:int(int_trainSize * int_toProLows)]
# df_test_Train = df_processed[int(int_trainSize * int_toProLows):]
df_train_Train = train_toPro[:int(int_trainSize * int_toProLows)]
df_test_Train = train_toPro[int(int_trainSize * int_toProLows):]

df_train_Train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0

In [143]:
df_test_Train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
42000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
42002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
42004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

### 初始化

In [144]:
# 设置输入层、隐藏层、输出层的节点数量
input_nodes = 784# 784个像素点
hidden_nodes = 400
output_nodes = 10 # 对应10个数字

# 设置学习率 --随机0.10-0.40
learning_rate = round(np.random.random() / 2.5 * 0.75 + 0.1, 2)
print('rate', learning_rate)

# 实例化
classifier = neuralNetwork(input_nodes,hidden_nodes,output_nodes, learning_rate)

rate 0.32

### 训练

In [27]:
%%time
"""
1.不循环，全部训练，3min 41s
2.不循环，7成训练， 3min 11s
2.不循环，9成训练， 4min 9s
2.二循环，9成训练， 8min 5s
2.二循环，不作处理，9成训练， 6min 41s
2.二循环，不作处理，7成训练， 5min 3s
"""
int_trainlen = df_train_Train.shape[0]
# for循环逐个读取训练数据集样本并处理该训练样本
for c in range(2):
    for i in range(int_trainlen):   
        record = df_train_Train.iloc[i]

        l_f, f_l = list(record[:-1]), record[784]

        # 把（0-255）字符型数字转化为（0.01-1.00）数组 --numpy.asfarray
        inputs = (np.asfarray(l_f) / 255.0 * 0.99) + 0.01

        # 构建（0.01或0.99）目标数值列表（正确答案设为0.99）
        targets = np.zeros(output_nodes) + 0.01
        targets[int(f_l)] = 0.99

        # 训练开始 --n.train(inputs, targets)
        classifier.train(inputs, targets)

Wall time: 5min 3s

### 结果

In [28]:
%%time
# 计分数组
scorecard = []

# 输出结果的列表
result_lst = []

lst_falseID = []

int_testlen = df_test_Train.shape[0]
# for循环逐个读取测试数据集样本并处理该测试样本
for i in range(int_testlen):
    record = df_test_Train.iloc[i]
        
    l_f, f_l = list(record[:-1]), record[784]
    
    # 把（0-255）字符型数字转化为（0.01-1.00）数组 --numpy.asfarray
    inputs = (np.asfarray(l_f) / 255.0 * 0.99) + 0.01
    
    correct_label = f_l
    
    # 计算输出矩阵 --n.query
    outputs = classifier.query(inputs)
#     print(outputs)
    
    # 记录输出矩阵最大值
    label = np.argmax(outputs)
    result_lst.append(label)
    # 比较两数，为计分板附加0或1
    if (label == correct_label):
        scorecard.append(1)
    else:
        lst_falseID.append([i, label, correct_label])
        scorecard.append(0)
        
        
scorecard_array = np.asarray(scorecard)
print ("正确率 = %.4f"%(scorecard_array.sum() / scorecard_array.size))
print("输出结果:", result_lst[:10])

正确率 = 0.9644
输出结果: [1, 2, 1, 8, 7, 0, 8, 6, 0, 8]
Wall time: 9.46 s

In [29]:
lst_falseID[:10], len(lst_falseID)

([[20, 0, 9.0],
  [29, 3, 8.0],
  [42, 9, 4.0],
  [78, 1, 4.0],
  [181, 9, 4.0],
  [199, 2, 3.0],
  [233, 9, 4.0],
  [249, 9, 4.0],
  [255, 2, 3.0],
  [314, 1, 8.0]],
 640)

In [72]:
.shape

(784,)

In [77]:
a = np.matrix(df_test_Train.iloc[20][:-1])
clf.predict(a)

array([7.])

In [78]:
# ma = df_test_Train.iloc[20].reshape(28,28)
martix_100 = np.matrix(list(df_test_Train.iloc[20][:-1])).reshape(28,28)
import matplotlib.pyplot as plt
from PIL import Image
new_im = Image.fromarray(martix_100)
print(new_im)
new_im.show()

<PIL.Image.Image image mode=F size=28x28 at 0x57494978>

## sklearn神经网络

In [155]:
from sklearn.neural_network import MLPClassifier

In [156]:
%%time
# 神经网络输入为784，第一隐藏层神经元个数为400，第二隐藏层神经元个数为50，输出结果为10分类。
clf = MLPClassifier(solver='adam', alpha=1e-3,hidden_layer_sizes=(400,50), random_state=1)  

X, y = df_train_Train.iloc[:, :-1], df_train_Train.iloc[:, -1]
clf.fit(X, y)
print('每层网络层系数矩阵维度：\n',[coef.shape for coef in clf.coefs_])

每层网络层系数矩阵维度：
 [(784, 400), (400, 50), (50, 10)]
Wall time: 9min 27s

In [157]:
clf.score(df_test_Train.iloc[:, :-1], df_test_Train.iloc[:, -1])

0.9753333333333334

In [160]:
df_test_Train.shape

(18000, 785)

In [172]:
pred = clf.predict(df_test_Train.iloc[:, :-1])
# print(type(pred))

lst_error = []
for i in range(len(pred)):
    if pred[i]!=df_test_Train.iloc[:, -1].iloc[i]:
        lst_error.append([i, pred[i], df_test_Train.iloc[:, -1].iloc[i]])
print(len(lst_error))

444

In [173]:
lst_error[:10]

[[42, 8.0, 4.0],
 [78, 8.0, 4.0],
 [112, 4.0, 8.0],
 [199, 2.0, 3.0],
 [229, 5.0, 8.0],
 [297, 5.0, 8.0],
 [312, 8.0, 5.0],
 [364, 5.0, 8.0],
 [415, 9.0, 7.0],
 [426, 8.0, 9.0]]

In [177]:
# ma = df_test_Train.iloc[20].reshape(28,28)
martix_100 = np.matrix(list(df_test_Train.iloc[229][:-1])).reshape(28,28)
import matplotlib.pyplot as plt
from PIL import Image
new_im = Image.fromarray(martix_100)
print(new_im)
new_im.show()

<PIL.Image.Image image mode=F size=28x28 at 0x5B369470>

In [149]:
df_mlpSub = pd.DataFrame(columns=['index','label'])
df_mlpSub['index'] = test_indexSer
df_mlpSub['label'] = lst_result

from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_mlpSub.to_csv('../Result/mlp_%s_97533.csv'%s, sep=',',index=None)

06011618

## 预测

| index | label |
| --- | --- |
| 0 | 0 |
| 1 | 0 |
| 2 | 0 |

test_indexSer & result

In [31]:
lst_result = []
int_test = df_test.shape[0]

# for循环逐个读取测试数据集样本并处理该测试样本
for i in range(int_test):
#     record = df_test.iloc[i]
    record = test_toPro.iloc[i]
        
    l_f = list(record)
    
    # 把（0-255）字符型数字转化为（0.01-1.00）数组 --numpy.asfarray
    inputs = (np.asfarray(l_f) / 255.0 * 0.99) + 0.01
    
    
    # 计算输出矩阵 --n.query
    outputs = classifier.query(inputs)
    
    # 记录输出矩阵最大值
    label = np.argmax(outputs)
    lst_result.append(label)

In [32]:
lst_result[:10], len(lst_result), len(test_indexSer)

([0, 2, 8, 8, 8, 0, 6, 7, 3, 5], 10000, 10000)

In [33]:
df_sub = pd.DataFrame(columns=['index','label'])
df_sub['index'] = test_indexSer
df_sub['label'] = lst_result

In [34]:
df_sub.head(3)

   index  label
0      0      0
1      1      2
2      2      8

In [35]:
from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_sub.to_csv('../Result/result_%s.csv'%s, sep=',',index=None)

06011436

## 卷积+神经网络

In [97]:
from keras.models import Sequential                            # 卷积模型
from keras.layers import Dense                                 # Dense net
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.utils import np_utils                              # 分类化
from keras.layers.convolutional import Conv2D, MaxPooling2D    # 卷积神经网络
from keras.layers import Flatten                               # 扁平化卷积结果

In [98]:
# 读取数据集
train_data_org = pd.read_csv('../Data/train_july.csv')
test_data_org = pd.read_csv('../Data/test_july.csv')

In [99]:
# 分割数据集
X_train,X_test, y_train_org, y_test_org = train_test_split(train_data_org.iloc[:,:-1], train_data_org.iloc[:,-1], \
                                                           test_size=0.3, random_state=784)
print(X_train.shape, y_train_org.shape, X_test.shape, y_test_org.shape)

(42000, 784) (42000,) (18000, 784) (18000,)

In [100]:
X_train.head(), y_train_org.head()

(         0    1    2    3    4    5    6    7    8    9 ...   774  775  776  \
 15778  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
 25307  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
 22475  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
 55657  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
 31563  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0

        777  778  779  780  781  782  783
 15778  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 25307  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 22475  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 55657  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 31563  0.0  0.0  0.0  0.0  0.0  0.0  0.0

 [5 rows x 784 columns], 15778    5.0
 25307    1.0
 22475    1.0
 55657    2.0
 31563    4.0
 Name: label, dtype: float64)

### 多层感知机

In [46]:
%%time
"""
6min 56s
"""
from sklearn.neural_network import MLPClassifier

# 神经网络输入为784，第一隐藏层神经元个数为400，第二隐藏层神经元个数为50，输出结果为10分类。
clf = MLPClassifier(solver='adam', alpha=1e-3,hidden_layer_sizes=(400,50), random_state=1)  

clf.fit(X_train, y_train_org)
print('每层网络层系数矩阵维度：\n',[coef.shape for coef in clf.coefs_])

print('正确率',clf.score(X_test, y_test_org))

每层网络层系数矩阵维度：
 [(784, 400), (400, 50), (50, 10)]
正确率 0.9746111111111111
Wall time: 6min 56s

In [ ]:
clf.predict()

In [ ]:
df_mlpSub = pd.DataFrame(columns=['index','label'])
df_mlpSub['index'] = test_indexSer
df_mlpSub['label'] = lst_result

from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_mlpSub.to_csv('../Result/mlp_%s_97533.csv'%s, sep=',',index=None)

### 卷积的浅层神经网络

In [103]:
# 处理检验集
test_data = test_data_org.iloc[:,1:]

# 分类化训练集,
y_train = np_utils.to_categorical(y_train_org)                                # 数字变为（1,10）矩阵，index位置设为1
y_test = np_utils.to_categorical(y_test_org)

y_train.shape, y_test.shape

((42000, 10), (18000, 10))

In [104]:
y_train[:10], y_test[:10]

(array([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([[0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]], dtype=float32))

In [86]:
# 初始化CNN
model = Sequential()
model.add(Dense(784, input_dim = 784, activation = 'relu'))                         # Dense net
model.add(Dense(10, activation = 'softmax'))                                          # 全连接层分类器
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])      # 模型编译，损失函数以及优化函数、指标

In [87]:
# 训练模型，训练集，测试集参数，迭代代数，批量单批数量，展示形式（1是进度条）
model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 10, batch_size = 200, verbose = 1)

Train on 54000 samples, validate on 6000 samples
Epoch 1/10
54000/54000 [==============================] - 7s 129us/step - loss: 2.8752 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 2/10
54000/54000 [==============================] - 7s 125us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 3/10
54000/54000 [==============================] - 7s 125us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 4/10
54000/54000 [==============================] - 7s 131us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 5/10
54000/54000 [==============================] - 7s 123us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 6/10
54000/54000 [==============================] - 7s 127us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 7/10
54000/54000 [==============================] - 7s 131us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 8/10
54000/54000 [==============================] - 7s 134us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 9/10
54000/54000 [==============================] - 7s 132us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196
Epoch 10/10
54000/54000 [==============================] - 7s 134us/step - loss: 2.8770 - acc: 0.8205 - val_loss: 2.8913 - val_acc: 0.8196

In [80]:
# 预测
y_pred = model.predict_classes(test_data)
y_pred[:10]

array([2, 2, 2, 3, 2, 2, 2, 1, 3, 3], dtype=int64)

In [81]:
df_mlpSub = pd.DataFrame(columns=['index','label'])
df_mlpSub['index'] = test_data_org.iloc[:,0]
df_mlpSub['label'] = y_pred

from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_mlpSub.to_csv('../Result/SDNN_%s_8743.csv'%s, sep=',',index=None)

06021906

### 卷积神经网络

In [115]:
X_train.shape, X_test.shape

((42000, 784), (18000, 784))

In [ ]:
y_train.shape, y_test.shape

In [117]:
X_train = np.array(X_train)
X_test = np.array(X_test)

In [118]:
X_train = X_train.reshape(X_train.shape[0], 28, 28, 1).astype('float32')
X_test = X_test.reshape(X_test.shape[0], 28, 28, 1).astype('float32')

X_train.shape, X_test.shape

((42000, 28, 28, 1), (18000, 28, 28, 1))

In [119]:
model_cnn= Sequential()
"""
卷积核为32个3*3，池化为2*2，激活函数为ReLu
"""
# 1次卷积+最大值池化
model_cnn.add(Conv2D(32, (3, 3), input_shape = (28, 28, 1), activation = 'relu'))
model_cnn.add(Conv2D(32, (3, 3), input_shape = (28, 28, 1), activation = 'relu'))
model_cnn.add(MaxPooling2D(pool_size = (2, 2)))

# 2次卷积+最大值池化
model_cnn.add(Conv2D(64, (3, 3), input_shape = (28, 28, 1), activation = 'relu'))
model_cnn.add(Conv2D(64, (3, 3), input_shape = (28, 28, 1), activation = 'relu'))
model_cnn.add(MaxPooling2D(pool_size = (2, 2)))

# flatten + 2层Densenet
model_cnn.add(Flatten())
model_cnn.add(Dense(128, activation = 'relu'))
model_cnn.add(Dense(10, activation = 'softmax'))

# 编译，损失函数是二元交叉熵，优化函数是adam
model_cnn.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [120]:
# 训练模型，训练集，测试集参数，迭代代数，批量单批数量，展示形式（1是进度条）
model_cnn.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 5, batch_size = 200, verbose = 1)

Train on 42000 samples, validate on 18000 samples
Epoch 1/5
42000/42000 [==============================] - 84s 2ms/step - loss: 2.8344 - acc: 0.8226 - val_loss: 2.8448 - val_acc: 0.8225
Epoch 2/5
42000/42000 [==============================] - 83s 2ms/step - loss: 2.8462 - acc: 0.8224 - val_loss: 2.8448 - val_acc: 0.8225
Epoch 3/5
42000/42000 [==============================] - 86s 2ms/step - loss: 2.8462 - acc: 0.8224 - val_loss: 2.8448 - val_acc: 0.8225
Epoch 4/5
42000/42000 [==============================] - 94s 2ms/step - loss: 2.8462 - acc: 0.8224 - val_loss: 2.8448 - val_acc: 0.8225
Epoch 5/5
42000/42000 [==============================] - 99s 2ms/step - loss: 2.8462 - acc: 0.8224 - val_loss: 2.8448 - val_acc: 0.8225

In [121]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_17 (Conv2D)           (None, 26, 26, 32)        320
_________________________________________________________________
conv2d_18 (Conv2D)           (None, 24, 24, 32)        9248
_________________________________________________________________
max_pooling2d_9 (MaxPooling2 (None, 12, 12, 32)        0
_________________________________________________________________
conv2d_19 (Conv2D)           (None, 10, 10, 64)        18496
_________________________________________________________________
conv2d_20 (Conv2D)           (None, 8, 8, 64)          36928
_________________________________________________________________
max_pooling2d_10 (MaxPooling (None, 4, 4, 64)          0
_________________________________________________________________
flatten_4 (Flatten)          (None, 1024)              0
_________________________________________________________________
dense_36 (Dense)             (None, 128)               131200
_________________________________________________________________
dense_37 (Dense)             (None, 10)                1290
=================================================================
Total params: 197,482
Trainable params: 197,482
Non-trainable params: 0
_________________________________________________________________

In [ ]:
df_mlpSub = pd.DataFrame(columns=['index','label'])
df_mlpSub['index'] = test_data_org.iloc[:,0]
df_mlpSub['label'] = y_pred

from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_mlpSub.to_csv('../Result/CNN_%s_.csv'%s, sep=',',index=None)

### mnist训练后的卷积神经网络

In [128]:
import pickle
with open('../Model/model_cnn_190602_9970.pkl', 'rb') as f:
    model = pickle.load(f)

model

In [147]:
import pandas as pd

train_dataOrg = pd.read_csv('../Data/train_july.csv')
test_dataOrg = pd.read_csv('../Data/test_july.csv')

X, y = train_dataOrg.iloc[:, :-1], train_dataOrg.iloc[:, -1]
index_s = test_dataOrg.iloc[:,0]
X_test = test_dataOrg.iloc[:,1:]

In [148]:
# 根据模型更改X,y
X = np.array(X).reshape(X.shape[0], 28, 28, 1).astype('float32')
y = np.array(y)
y = np_utils.to_categorical(y)

X.shape, y.shape

((60000, 28, 28, 1), (60000, 10))

In [149]:
X.shape, y.shape, index_s.shape, X_test.shape

((60000, 28, 28, 1), (60000, 10), (10000,), (10000, 784))

In [152]:
%%time
scores = model.evaluate(X, y, verbose=0)
print("Large CNN Error: %.2f%%" % (scores[1] * 100))

Large CNN Error: 99.73%
Wall time: 35.7 s

In [161]:
scores

[0.043352462086256136, 0.9972666666666666]

In [156]:
X_test = np.array(X_test).reshape(X_test.shape[0], 28, 28, 1).astype('float32')

X_test.shape, type(X_test)

((10000, 28, 28, 1), numpy.ndarray)

In [158]:
y_pred = model.predict_classes(X_test)

len(y_pred), y_pred[:10]

(10000, array([0, 2, 8, 8, 8, 0, 6, 7, 3, 5], dtype=int64))

In [160]:
df_mlpSub = pd.DataFrame(columns=['index','label'])
df_mlpSub['index'] = index_s
df_mlpSub['label'] = y_pred

from datetime import datetime
s = datetime.now().strftime('%m%d%H%M')
print(s)
df_mlpSub.to_csv('../Result/cnn_%s_9973.csv'%s, sep=',',index=None)

06022149